html body {
    height: 100%;
}

.welcome {
    font-size: 36px;
    text-align: center;
    margin: 20px;
}

.md-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 75px;
    block-size: fit-content;
    overflow-y: visible;
    height: auto;
    min-height: 100% !important;
}

.md-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: auto;
    padding: 0px;
}

.md-item {
    list-style-type: none;
    height: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
}

.md-item .md-card {
    overflow: hidden;
    padding-bottom: 50px;
}

.arrow-container {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    height: 1em;
    width: 3em;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    z-index: 10;
}

.arrow-container .chevron-down {
    position: absolute;
    animation: keyframes-return .5s;
}

/* ------ On check event ------ */
.arrow-container input:checked ~ .chevron-down {
    animation: keyframes-rotate .5s;
    transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.arrow-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: rotate(-180deg);
    }
}

@keyframes keyframes-return {
    0% {
      transform: rotate(-180deg);
      opacity: 0;
    }

    100% {
      transform: rotate(0deg);
    }
}

div.md-card {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: center;
    overflow: hidden;
    position: relative; /* Added to position the gradient */
}

div.md-card > h2 {
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

div.md-card > p {
    font-size: 14px;
    text-align: left;
    margin: 10px;
}

div.md-card > ul {
    display: block;
    text-align: left;
}

pre {
    border-radius: 4px;
    padding: 10px;
}

code {
    font-family: "Monaco", monospace;
}