---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
import '../styles/index.css'

import { getCollection, render } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout></Layout>

<h1 class='welcome'>Welcome</h1>

<div class='md-container'>
    <ul class='md-list'>
        {
            posts.map(async (post: any) => { 
                const { Content } = await post.render();
				console.log(post.data.id);
				return (
                <li class='md-item'>
                    <div class="md-card" id={ post.data.id }>
						<!-- From Uiverse.io by catraco --> 
						<label class="arrow-container" for={ post.data.id }>
							<input checked="checked" type="checkbox">
								<svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="chevron-down"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg>
						</label>
						<Content />
                    </div>
                </li>
                )
            })
        }
    </ul>
</div>

<Footer></Footer>

<script src="../scripts/index.ts"></script>
