---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';
import "../styles/resume.css";

//https://stackoverflow.com/questions/17784037/how-to-display-pdf-file-in-html
---

<Layout></Layout>

<body>
    <div class="resume-container">
        <object class="resume-pdf" data="../assets/William Gaechter - Resume - Website.pdf" type="application/pdf" style="overflow: hidden;">
            <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="../assets/Will_Green_Resume.pdf">click here to download the PDF file.</a></p>
        </object>
    </div>
</body>

<Footer></Footer>
