---
import Layout from '../layouts/Layout.astro';
import Footer from '../layouts/Footer.astro';

//https://stackoverflow.com/questions/17784037/how-to-display-pdf-file-in-html
---

<Layout></Layout>
<body>
    <iframe src='../assets/William Gaechter - Resume - Website.pdf' ></iframe>
</body>
<Footer></Footer>