<footer class="footer text-muted">
	<span class="container" id="copyright">
	&copy; 2025 - William Gaechter - Data Analyst and Enigineer
	</span>
	<span>
		<a href="#" id="swissMode"><img src="/src/assets/Flag_of_Switzerland.svg" height="15" width="15" /></a>
	</span>
    <link rel="stylesheet" href="/src/css/footer.css">
    <script type="module" src="/src/scripts/footer.ts"></script>
</footer>